# Application settings
APP_NAME=working-assistant
APP_ENV=development

# Server settings
HOST=127.0.0.1
PORT=8000

# Application storage
DATABASE_PATH=./data/app.db
DOCUMENT_TEMPLATES_DIR=./document_templates
GENERATED_DOCUMENTS_DIR=./generated_CP
